openapi: 3.0.0
info:
  title: QOurs API
  description: This is the official API documentation for the QOurs mobile app and
    website.
  contact:
    email: whodiscontacts@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.1
servers:
- url: https://us-central1-poos-qours.cloudfunctions.net/app/api
  description: QOurs API
tags:
- name: admins
  description: Secured Admin-only calls
- name: developers
  description: Operations available to regular developers
paths:
  /get-binary/{searchString}:
    get:
      tags:
      - developers
      summary: returns a specified string-image pair
      description: |
        When a valid string has been passed in, the system will return the matching string stored in the database.
      operationId: getBinary
      parameters:
      - name: searchString
        in: path
        description: pass a string generated from image that has a pair in the database
        required: true
        schema:
          type: string
      responses:
        "200":
          description: search returns result
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BinaryPair'
                x-content-type: application/json
        "500":
          description: error
      x-swagger-router-controller: Developers
  /store-binary:
    post:
      tags:
      - developers
      summary: adds a new string-image pair
      description: |
        When a valid BinaryPair object is passed, it will be stored in the database.
      operationId: addBinary
      requestBody:
        description: BinaryPair to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BinaryPair'
      responses:
        "200":
          description: item created
        "500":
          description: error
      x-swagger-router-controller: Developers
  /delete-binary{searchString}:
    delete:
      tags:
      - admins
      summary: deletes an existing string-image pair
      description: |
        Functions similar to get-binary, except that it deletes the specified string-image pair.
      operationId: deleteBinary
      parameters:
      - name: searchString
        in: path
        description: pass the binary that should be deleted
        required: true
        schema:
          type: string
      responses:
        "200":
          description: item deleted
        "500":
          description: error
      x-swagger-router-controller: Admins
components:
  schemas:
    BinaryPair:
      required:
      - binary
      - creator_uid
      - url
      type: object
      properties:
        binary:
          type: string
          example: "41234"
        url:
          type: string
          example: www.microsoft.com
        creator_uid:
          type: string
          example: "1"
      example:
        binary: "41234"
        creator_uid: "1"
        url: www.microsoft.com